[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[scripts]
game = "python bore/game.py"
test = "python bore/tests/test_dice.py"

[requires]
python_version = "3.9"
