[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"

[scripts]
game = "python bore/main.py"
tests = "python -m pytest tests"
serve = "uvicorn bore.api:app --reload"

[requires]
python_version = "3.9"
